.contacts1 {
    padding: 10px; 
    background-color: chocolate;
}
.contacts2 {
    font-size: 3rem;
    line-height: 1; 
    font-weight: 700; 
    text-align: center; 
    background-color: orange;
}
.links {
    text-align: center;
}
.links:hover {
    text-decoration: underline; 
}