.mainbar{
    display: flex;  
    flex-direction: column; 
    gap: 3rem; 
    justify-content: center; 
    align-items: center; 
    width: 100%;  
    height: 80vh;
    background-color: aquamarine;
}
.main{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
    background-color:bisque;
}