/*styles of ImageSlider.tsx */
.slider {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.image {
  width: 900px;
  height: 500px;
  border-radius: 10px;
}
  
.rightArrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 50px;
  color: black;
  cursor: pointer;
}
  
.leftArrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 50px;
  color: black;
  cursor: pointer;
}
  
.slide {
  opacity: 0;
  transition-duration: 1s ease;
}
  
.activeSlide {
  opacity: 1;
  transition-duration: 1s;
}
